# Core functionality - changes here should be rare!
/src/app.py                   @SaiHtet1007
/src/backend/database.py      @SaiHtet1007
/src/backend/routers/auth.py  @SaiHtet1007

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SaiHtet1007
